body{
  padding: 10px;
  background-color: gray;
  text-align: center;
}

.header{
    width: 730px;
    height: 50px;
    text-align: center;
    color:white;
    font-size: 40px;
    background-color: black;
    border-radius: 10px;
  }
.contact{
  margin-top: 200px;
    border: solid 2px black;
    border-radius:10px ;
    padding: 5px;
    width: 710px ;

}

.footer{
  height: 70px;
  width: 735px;
  margin-top: 200px;
  background-color: black;
  border-radius: 10px;
  color: aliceblue;

}
.copy{
  float:right;
  padding: 10px;
  text-decoration: overline;
}