body{
    padding: 1px;
    text-align: center;
    background-color: gray;
    gap: 50px;
    border-radius: 10px;

}

.img{
margin-top: 10px;
border: solid 2px black;
border-radius:10px ;
padding: 5px;
width: 710px ;
}

.header{
    width: 730px;
    height: 50px;
    text-align: center;
    color:white;
    font-size: 40px;
    background-color: black;
    border-radius: 10px;
  }

  .footer{
    height: 70px;
    width: 735px;
    margin-top: 10px;
    background-color: black;
    border-radius: 10px;
    color: aliceblue;
  
  }
  .copy{
    float:right;
    padding: 10px;
    text-decoration: overline;
  }
  
